{% load static %}
{% block content %}
    <form action="" method="" class="form">

        <div class="top">
            <img src="../assets/Logo Picante.png" alt="Logo" class="img-logo">
            <div class="separator"></div>
        </div>

        <div class="container">
            <div class="group">
                <input type="text" name="user" class="input" placeholder=" " required>
                <label for="user" name="user" class="label">Nombre de usuario</label>
                <span class="line"></span>
            </div>
            <div class="group">
                <input type="password" name="pass" class="input" placeholder=" " required>
                <label for="pass" name="pass" class="label">Contraseña</label>
                <span class="line"></span>
            </div>
            
            <input type="submit" value="Iniciar Sesión" class="btn-submit">
            
        </div>
    </form>
{% endblock %}