{% load static %} 
{% block content %}
<footer class="sec-footer" id="sec-footer">

    <div class="row">

        <div class="col-md logo">
            <img src="{% static 'assets/paginaImagenes/LogoPicante.png'%}" alt="Logo Footer" class="img-logo">
        </div>

        <div class="col-md contact">
            <h6 class="title">CONTACTO</h6>
            <ul class="links">
                <li class="link">
                    <a href="https://wa.me/5493534221802" target="_blank" rel="noopener noreferrer" class="wpp"><i class="bi bi-whatsapp icon"></i></a>
                    <p>+54 9 3534 22-1802</p>
                </li>
        
                <li class="link">
                    <a href="mailto:rrhhcasinovirtualvillamaria@gmail.com" target="_blank" rel="noopener noreferrer" class="gmail"><i class="bi bi-envelope icon"></i></a>
                    <p>rrhhcasinovirtualvillamaria@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="rights">
        <i class="bi bi-c-circle"></i>
            <span class="text">
            Todos los derechos reservados
        </span>
    </div>
</footer>
{% endblock %}